[submodule "bin/suckless/slstatus"]
	path = bin/suckless/slstatus
	url = https://git.suckless.org/slstatus
[submodule "bin/abduco"]
	path = bin/abduco
	url = https://github.com/martanne/abduco.git
[submodule "bin/mosh"]
	path = bin/mosh
	url = https://github.com/mobile-shell/mosh
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
