Bitwarden/
fastfetch/
github-copilot/
mimeapps.list
plex.tv/
pulse/
spotify-tui/
streamlink/
wtwitch/

.gsd-keyboard.settings-ported
QtProject.conf
Signal/
Slack/
autorandr/
background
bluetuith/
btop/
chromium/
dconf/
evolution/
gtk-3.0/
gtk-4.0/
htop/
lazysql/
monitors.xml
monitors.xml~
syncthing-gtk/
systemd/
teams-for-linux/
user-dirs.dirs
user-dirs.locale
