.gsd-keyboard.settings-ported
Bitwarden/
QtProject.conf
Signal/
Slack/
autorandr/
background
bluetuith/
btop/
chromium/
dconf/
evolution/
fastfetch/
github-copilot/
gtk-3.0/
gtk-4.0/
htop/
lazygit/
lazysql/
mimeapps.list
monitors.xml
monitors.xml~
plex.tv/
pulse/
spotify-tui/
streamlink/
syncthing-gtk/
systemd/
teams-for-linux/
user-dirs.dirs
user-dirs.locale
wtwitch/
